{% extends "main_min.html.twig" %}

{% block breadcrumb %}
    {% include "breadcrumb.html.twig" %}
{% endblock %}

{% block content %}
    <h1>Api disponibles: </h1>
    <h3>Annonces :</h3>
    <h5>Récupérer la liste de toutes les annonces :</h5>
    <pre><code>GET</code> <a href="{{ chemin }}/api/annonces/" target="_blank">{{ chemin }}/api/annonces/</a></pre>
    <br/>
    <h5>Récupérer les informations d'une annonce :</h5>
    <pre><code>GET</code> <a href="{{ chemin }}/api/annonce/1" target="_blank">{{ chemin }}/api/annonce/:id</a></pre>
    <br/>
    <h3>Catégories :</h3>
    <h5>Récupérer la liste de toutes les catégories :</h5>
    <pre><code>GET</code> <a href="{{ chemin }}/api/categories/" target="_blank">{{ chemin }}/api/categories/</a></pre>
    <br/>
    <h5>Récupérer la liste des annonces d'une catégorie :</h5>
    <pre><code>GET</code> <a href="{{ chemin }}/api/categorie/1" target="_blank">{{ chemin }}/api/categorie/:id</a></pre>
    <br/>
{% endblock %}

