{% extends "main.html.twig" %}

{% block breadcrumb %}
    {% include "breadcrumb.html.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="columns align-center">
            <p><i> - Les dernières annonces -</i></p>
        </div>
    </div>

    <div class="row">
    {% for annonce in annonces %}
        <div class="columns md-3">
            <article class="item">
                <a href="/item/{{ annonce.id_annonce }}">
                    <div class="row">
                        <p><em>Le {{ annonce.date }} par {{ annonce.annonceur['nom_annonceur'] }}</em></p>
                    </div>
                    <div class="row">
                        <div class="item-img">
                            <img src="img/stamps.jpg" alt=""/>

                            <p class="align-center">5 photos</p>
                        </div>
                        <div class="item-infos">
                            <h5> {{ annonce.titre }}</h5>
                            <p><b>Lieu :</b> {{ annonce.ville }}</p>

                            <p><span class="price">{{ annonce.prix}} €</span></p>
                        </div>
                    </div>
                </a>
            </article>
        </div>
    {% endfor %}

    </div>
{% endblock %}