{% extends "main.html.twig" %}

{% block breadcrumb %}
    {% include "breadcrumb.html.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="columns align-center">
            <p><i> - Les dernières annonces -</i></p>
        </div>
    </div>
    {% set boucle = 1 %}


    {% for annonce in annonces %}
        {% if boucle == 1 %}
            <div class="row">
        {% endif %}
            <div class="columns md-3">
                <article class="item">
                    <a href="{{ chemin }}/item/{{ annonce.id_annonce }}">
                        <div class="row">
                            <p><em>Le {{ annonce.date }} par {{ annonce.nom_annonceur }}</em></p>
                        </div>
                        <div class="row">
                            <div class="item-img">
                                <img src="{{ annonce.url_photo }}" alt=""/>

                                <p class="align-center">{{ annonce.nb_photo }} photo(s)</p>
                            </div>   
                            <div class="item-infos">
                                <h5> {{ annonce.titre }}</h5>
                                <p><b>Lieu :</b> {{ annonce.ville }}</p>

                                <p><span class="price">{{ annonce.prix}} €</span></p>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        {% if boucle == 4 %}
            </div>
            {% set boucle = 0 %}
        {% endif %}
        {% set boucle = boucle + 1 %}
    {% endfor %}
    {% if boucle != 1 %}
        </div>
    {% endif %}

{% endblock %}